*
{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    overflow: hidden;
}


/* Este CSS aplica um estilo específico quando o dispositivo está em modo paisagem */
@media screen and (orientation: landscape) {
    body {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin: 0;
    }

    #myCanvas {
        border: 1px solid #000000;
    }
}

/* Mensagem para modo retrato */
@media screen and (orientation: portrait) {
    body {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin: 2rem;
        background-color: #f0f0f0;
    }

    #rotate-message {
        display: block;
        font-size: 24px;
        text-align: center;
    }

    #myCanvas {
        display: none;
    }
}


#canvas
{
    background-color: rgba(30, 190, 113, 0.1);
    outline: 1px solid #44444440;
    border-radius: 10px;
}